@import "src/App.scss";

.svgParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  $i: 0;
  @while $i < 10 {
    &.zindex#{$i} {
      z-index: #{$i};
    }
    $i: $i + 1;
  }

  .svgParallaxInner {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;

    $i: 0;
    @while $i < 100 {
      &.left#{$i} {
        left: #{$i} + "%";
      }
      &.left-#{$i} {
        left: -#{$i} + "%";
      }
      &.right#{$i} {
        right: #{$i} + "%";
      }
      &.right-#{$i} {
        right: -#{$i} + "%";
      }
      &.top#{$i} {
        top: #{$i} + "%";
      }
      &.top-#{$i} {
        top: -#{$i} + "%";
      }
      &.bottom#{$i} {
        bottom: #{$i} + "%";
      }
      &.bottom-#{$i} {
        bottom: -#{$i} + "%";
      }
      $i: $i + 5;
    }

    // &.ondaFrente {
    // }
    &.ondasBg {
      width: 100%;
      height: 800px;
    }
    &.linhaOndas {
      top: -30%;

      @media #{$bp-tablet} {
        top: -20%;
      }
      @media #{$bp-phone} {
        top: -10%;
      }
    }

    &.grafismoRoxoVideo {
      width: 350px;
      height: auto;

      @media #{$bp-tablet} {
        width: 250px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 105px;
        max-height: 102px;
      }
    }
    &.grafismoRoxoVideo2 {
      width: 195px;
      height: auto;

      @media #{$bp-tablet} {
        width: 140px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: auto;
        max-width: 101px;
        max-height: 101px;
      }
    }
    &.grafismoAmareloVideo {
      width: 500px;
      height: auto;

      @media #{$bp-tablet} {
        width: 250px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 110px;
      }
    }
    &.grafismoBolaAzulVideo {
      width: 245px;
      height: auto;

      @media #{$bp-tablet} {
        width: 122px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 60px;
        max-height: 60px;
      }
    }
    &.grafismoBolaAzulVideo2 {
      width: 24px;
      height: auto;

      @media #{$bp-tablet} {
        width: 12px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 12px;
        max-height: 12px;
      }
    }
    &.grafismoBolaRoxoVideo {
      width: 67px;
      height: auto;

      @media #{$bp-tablet} {
        width: 34px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 17px;
        max-height: 17px;
      }
    }
    &.grafismoBolaAmareloVideo {
      width: 60px;
      height: auto;

      @media #{$bp-tablet} {
        width: 45px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 30px;
        max-height: 30px;
      }
    }
    &.grafismoBolaLaranjaVideo {
      width: 117px;
      height: auto;

      @media #{$bp-tablet} {
        width: 81px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
      }
    }
    &.grafismoAzulVideo {
      width: 250px;
      height: auto;

      @media #{$bp-tablet} {
        width: 214px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 130px;
        max-height: 165px;
      }
    }
    &.grafismoAzul {
      @media #{$bp-phone} {
        display: none;
      }
    }
  }
}

.ondasWrapper {
  margin-top: -100px;
  height: 400px;
  z-index: -1;

  @media #{$bp-tablet} {
    margin-top: -100px;
    height: 400px;
  }
  @media #{$bp-phone} {
    margin-top: -310px;
    height: 450px;
  }
}
.safari,
.ios,
.custom {
  .capa {
    .svgParallax {
      .svgParallaxInner {
        display: block;
      }
    }
  }
}
