@import "src/styles/default/_init.scss";

.svgParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .svgParallaxInner {
    display: block;
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;

    $i: 0;
    @while $i <= 100 {
      &.left#{$i} {
        left: #{$i} + "%";
      }
      &.left-#{$i} {
        left: -#{$i} + "%";
      }
      &.right#{$i} {
        right: #{$i} + "%";
      }
      &.right-#{$i} {
        right: -#{$i} + "%";
      }
      &.top#{$i} {
        top: #{$i} + "%";
      }
      &.top-#{$i} {
        top: -#{$i} + "%";
      }
      &.bottom#{$i} {
        bottom: #{$i} + "%";
      }
      &.bottom-#{$i} {
        bottom: -#{$i} + "%";
      }
      $i: $i + 5;
    }

    &.rotate180 {
      @include transform(rotate(180deg));
    }

    &.ondasBg {
      width: 100%;
      height: 100%;
    }
    &.linhaOndas {
      top: -30%;

      @media #{$bp-tablet} {
        top: -20%;
      }
      @media #{$bp-phone} {
        top: -10%;
      }
    }

    &.grafismoLinhaEnrolada {
      width: 100%;
      height: 100%;

      @media #{$bp-tablet} {
      }
      @media #{$bp-phone} {
        width: 170%;
      }
    }

    &.grafismoBolaRabisco {
      width: 640px;
      opacity: 0.3;
      height: auto;

      @media #{$bp-tablet} {
        width: 450px;
      }
      @media #{$bp-phone} {
        width: 400px;
      }
    }
    &.grafismoBolaRabisco2 {
      width: 640px;
      height: auto;

      @media #{$bp-tablet} {
        width: 450px;
      }
      @media #{$bp-phone} {
        width: 400px;
      }
    }
    &.grafismoBolaRabisco3 {
      right: 0;
      top: 0;
      opacity: 0.8;
      width: 300px;
      height: auto;

      @media #{$bp-tablet} {
        top: initial;
        bottom: 20%;
        right: -15%;
        width: 200px;
      }
      @media only screen and (max-width: 768px) {
        top: initial;
        bottom: 20%;
        right: -30%;
        width: 180px;
      }
      @media #{$bp-phone} {
        right: -10%;
        width: 130px;
      }
    }
    &.grafismoBolaRabisco4 {
      right: 20%;
      bottom: 0;
      opacity: 0.8;
      width: 120px;
      height: auto;

      @media #{$bp-tablet} {
        right: 5%;
        width: 120px;
      }
      @media only screen and (max-width: 768px) {
        right: 0%;
        width: 120px;
      }
      @media #{$bp-phone} {
        width: 70px;
        right: 10%;
      }
    }

    &.grafismoBolaRabisco5 {
      width: 460px;
      opacity: 0.3;
      height: auto;

      @media #{$bp-tablet} {
        width: 360px;
      }
      @media #{$bp-phone} {
        width: 260px;
      }
    }
    &.grafismoBolaRabisco6 {
      right: -10%;
      bottom: -15%;
      width: 360px;
      opacity: 0.3;
      height: auto;

      @media #{$bp-tablet} {
        width: 260px;
      }
      @media #{$bp-phone} {
        bottom: -10%;
        width: 160px;
      }
    }

    &.grafismoRoxoVideo {
      width: 350px;
      height: auto;

      @media #{$bp-tablet} {
        width: 250px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 105px;
        max-height: 102px;
      }
    }
    &.grafismoRoxoVideo2 {
      right: 0%;
      bottom: 20%;
      width: 195px;
      height: auto;

      @media #{$bp-tablet} {
        right: -10%;
        bottom: 20%;
        width: 140px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: auto;
        max-width: 101px;
        max-height: 101px;
      }
    }
    &.grafismoAmareloVideo {
      bottom: 0%;
      right: -5%;
      width: 500px;
      height: auto;

      @media #{$bp-tablet} {
        bottom: -5%;
        right: -15%;
        width: 250px;
        height: auto;
      }
      @media #{$bp-phone} {
        right: -10%;
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 110px;
      }
    }
    &.grafismoBolaAzul {
      top: 0;
      left: 0;
      width: 245px;
      height: auto;

      @media #{$bp-tablet} {
        width: 122px;
        height: auto;
      }
      @media #{$bp-phone} {
        top: 10vh;
        left: -5%;
        width: 100%;
        height: 100%;
        max-width: 80px;
        max-height: 80px;
      }
    }
    &.grafismoBolaAzulVideo {
      top: 0;
      left: 0;
      width: 245px;
      height: auto;

      @media #{$bp-tablet} {
        left: -7%;
        width: 122px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 80px;
        max-height: 80px;
      }
    }
    &.grafismoBolaAzulVideo2 {
      width: 24px;
      height: auto;

      @media #{$bp-tablet} {
        width: 12px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 12px;
        max-height: 12px;
      }
    }
    &.grafismoBolaRoxo {
      top: 20vw;
      left: 10%;
      width: 67px;
      height: auto;

      @media #{$bp-tablet} {
        top: 10vh;
        left: 8%;
        width: 34px;
        height: auto;
      }
      @media #{$bp-phone} {
        left: 0%;
        top: 20vh;
        width: 100%;
        height: 100%;
        max-width: 17px;
        max-height: 17px;
      }
    }
    &.grafismoBolaRoxoVideo {
      top: 20%;
      left: 0;
      width: 67px;
      height: auto;

      @media #{$bp-tablet} {
        left: -5%;
        width: 34px;
        height: auto;
      }
      @media #{$bp-phone} {
        left: 0%;
        width: 100%;
        height: 100%;
        max-width: 17px;
        max-height: 17px;
      }
    }
    &.grafismoBolaAmareloVideo {
      width: 60px;
      height: auto;

      @media #{$bp-tablet} {
        width: 45px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 30px;
        max-height: 30px;
      }
    }
    &.grafismoBolaLaranjaVideo {
      width: 117px;
      height: auto;

      @media #{$bp-tablet} {
        width: 81px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
      }
    }
    &.grafismoAzulVideo {
      left: -5%;
      top: 20%;
      width: 250px;
      height: auto;

      @media #{$bp-tablet} {
        left: -10%;
        top: 3%;
        width: 214px;
        height: auto;
      }
      @media #{$bp-phone} {
        width: 100%;
        height: 100%;
        max-width: 130px;
        max-height: 165px;
      }
    }
    &.grafismoAzul,
    &.grafismoAmarelo {
      width: 150px;
      height: auto;

      @media #{$bp-tablet} {
        width: 100px;
        height: auto;
      }
      @media #{$bp-phone} {
        display: none;
      }
    }

    &.ilustrasBase {
      max-width: calc(100% - 1.5rem);
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      height: auto;

      @media #{$bp-tablet} {
        max-width: calc(100% - 2rem);
      }

      @media only screen and (max-width: 768px) {
        max-width: calc(70% - 1.5rem);
      }

      @media #{$bp-phone} {
      }

      &.carouselBase {
        @media #{$bp-tablet} {
          max-width: calc(64% - 1.5rem);
        }

        @media only screen and (max-width: 768px) {
          max-width: calc(70% - 1.5rem);
        }

        @media #{$bp-phone} {
          max-width: 350px;
        }
      }

      &.aplicacaoBase {
        @media #{$bp-tablet} {
          max-width: calc(80% - 1.5rem);
        }

        @media only screen and (max-width: 768px) {
          max-width: calc(84% - 1.5rem);
        }

        @media #{$bp-phone} {
          max-width: 350px;
        }
      }

      &.listBase {
        @media #{$bp-tablet} {
          max-width: calc(64% - 1.5rem);
        }

        @media only screen and (max-width: 768px) {
          max-width: calc(70% - 1.5rem);
        }

        @media #{$bp-phone} {
          max-width: 350px;
        }
      }

      &.denunciaBase {
        @media #{$bp-tablet} {
          max-width: calc(64% - 1.5rem);
        }

        @media only screen and (max-width: 768px) {
          max-width: calc(70% - 1.5rem);
        }

        @media #{$bp-phone} {
          max-width: 350px;
        }
      }

      &.tresBolasBase {
        max-width: 150px;
        top: 0;
        left: initial;
        right: 0;
        @include transform(translate(0, 0));

        @media #{$bp-tablet} {
          max-width: 150px;
          right: -20%;
        }

        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      &.duasBolasBase {
        max-width: 150px;
        top: 0;
        left: initial;
        right: 0;
        @include transform(translate(0, 0));

        @media #{$bp-tablet} {
          max-width: 150px;
          right: -20%;
        }

        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      &.duasBolasBase2 {
        max-width: 100px;
        top: 0;
        left: -3%;
        @include transform(translate(0, 0));

        @media #{$bp-tablet} {
          max-width: 70px;
          left: -10%;
        }

        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      &.tresBolasDesfoqueBase {
        max-width: 210px;
        top: 0;
        left: initial;
        right: -15%;
        @include transform(translate(0, 0));

        @media #{$bp-tablet} {
          max-width: 150px;
          right: 20%;
        }

        @media only screen and (max-width: 768px) {
          max-width: 100px;
          right: 10%;
        }
      }

      &.tresBolasDesfoqueBase2 {
        max-width: 210px;
        top: initial;
        bottom: -5%;
        left: 10%;

        @include transform(translate(0, 0));

        @media #{$bp-tablet} {
          bottom: -3%;
          left: 0%;
        }

        @media only screen and (max-width: 768px) {
          max-width: 160px;
        }
      }

      &.titularBase,
      &.controladorBase,
      &.operadorBase,
      &.encarregadoBase {
        @media #{$bp-tablet} {
          max-width: calc(64% - 1.5rem);
        }

        @media only screen and (max-width: 768px) {
          max-width: calc(70% - 1.5rem);
        }

        @media #{$bp-phone} {
          max-width: 350px;
        }
      }
    }
    &.baseQuatroOperacoes {
      max-width: 70%;

      @media #{$bp-tablet} {
        max-width: 100%;
      }
      @media #{$bp-phone} {
        max-width: 90%;
      }
    }
  }
}

.baseSize {
  &.ilustraTratamento {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }
  &.ilustraAplicacao {
    min-height: 400px;
    @media #{$bp-tablet} {
      min-height: 400px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 280px;
    }
    @media #{$bp-phone} {
      min-height: 220px;
    }
  }
  &.ilustraCarousel {
    min-height: 550px;
    @media #{$bp-tablet} {
      min-height: 400px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 300px;
    }
  }
  &.ilustraList {
    min-height: 500px;
    @media #{$bp-tablet} {
      min-height: 400px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 300px;
    }
  }
  &.ilustraDenuncia {
    min-height: 450px;
    @media #{$bp-tablet} {
      min-height: 400px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 300px;
    }
  }

  &.ilustraTitular,
  &.ilustraControlador,
  &.ilustraOperador,
  &.ilustraEncarregado {
    min-height: 400px;
    @media #{$bp-tablet} {
      min-height: 300px;
    }
    @media only screen and (max-width: 768px) {
      min-height: 260px;
    }
  }
  &.ilustraCompartilhado {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }

  &.ilustraRelatorio {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }
  &.ilustraBancoDados {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }
  &.ilustraAnonimizacao {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }
  &.ilustraConsentimento {
    min-height: 250px;

    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
      min-height: 200px;
    }
  }
  &.ilustraFimQuatroOperacoes {
    min-height: 600px;

    @media #{$bp-tablet} {
      min-height: 400px;
    }
    @media #{$bp-phone} {
      min-height: 300px;
    }
  }
  &.tresBolasDesfoque {
    @media #{$bp-tablet} {
    }
    @media #{$bp-phone} {
    }
  }
}

.ondasWrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 220px;

  z-index: -1;

  @media #{$bp-tablet} {
    margin-top: 0;
    margin-bottom: 60px;
    height: 150px;
  }
  @media #{$bp-phone} {
    height: 60px;
    margin-bottom: 30px;
  }
}
.linhaEnroladaWrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 110px;
  z-index: -1;

  @media #{$bp-tablet} {
    height: 90px;
  }
  @media #{$bp-phone} {
    height: 70px;
  }
}
.linhaEnroladaWrapper2 {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 110px;
  z-index: -1;

  @media #{$bp-tablet} {
    height: 90px;
  }
  @media #{$bp-phone} {
    height: 0;
  }
}

.bolaRabiscoWrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 110px;
}

// .safari,
// .ios {
//   .svgParallax {
//     .svgParallaxInner {
//       display: block;
//     }
//   }
// }
