@import "src/styles/default/_init.scss";

/*****************************************/
/* CAROUSEL ******************************/
/*****************************************/

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    .carousel {
      &.carouselWithoutImg {
        margin: 0 auto $espaco-margin;
        height: 100%;
        .carousel-inner {
          background-color: transparent;
          height: 100%;

          .carousel-item {
            height: 100%;

            .carousel-caption {
              text-align: start;
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0 7%;
              right: 0;
              left: 0;
              bottom: 0;
              position: relative;

              &.relative {
                top: 0;
                left: 0;
              }

              p {
                padding: 0;
              }
            }

            p {
              margin: $espaco-margin 0;
              padding: 0 7%;

              &:last-child {
                margin-bottom: 0;
              }
            }

            a,
            strong {
              color: $cor6;
            }

            a {
              text-decoration: underline;
            }
          }
        }

        /* INDICATORS */
        .carousel-indicators {
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: -48px;
          left: 82%;
          margin: 0;
          width: 40%;

          button {
            background-color: lighten($cor7, 10%);
            border: solid 2px transparent;
            border-radius: 50%;
            height: 7px;
            margin: 0 5px;
            padding: 0;
            position: relative;
            outline: none;
            width: 7px;

            &.active {
              background-color: $cor7;
              width: 14px;
              height: 14px;
            }
          }
        }

        /* CONTADOR */
        .carousel-counter {
          color: $cor-texto;
          position: absolute;
          bottom: 20px;
          right: 0;
          margin: 0;
          text-align: center;
          width: 10%;
          z-index: 10;
        }

        /* CONTROLS */
        .carousel-control-prev,
        .carousel-control-next {
          background-color: transparent;
          margin: 0;
          opacity: 1;
          padding: 0;
          position: absolute;
          bottom: -50px;
          top: initial;
          height: 10%;
          width: 15%;

          @include transition(all 0.4s);

          &:hover {
            background: rgba(255, 255, 255, 0);

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              background-color: $cor6;
            }

            .carousel-control-prev-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243'%3E%3Cg id='Icon_feather-arrow-right' data-name='Icon feather-arrow-right' transform='translate(1.5 2.121)'%3E%3Cpath id='Caminho_1665' data-name='Caminho 1665' d='M28.5,18H7.5' transform='translate(-7.5 -7.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Caminho_1666' data-name='Caminho 1666' d='M28.5,7.5,18,18,28.5,28.5' transform='translate(-18 -7.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .carousel-control-next-icon {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243'%3E%3Cg id='Icon_feather-arrow-right' data-name='Icon feather-arrow-right' transform='translate(-6 -5.379)'%3E%3Cpath id='Caminho_1665' data-name='Caminho 1665' d='M7.5,18h21' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Caminho_1666' data-name='Caminho 1666' d='M18,7.5,28.5,18,18,28.5' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
          }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          background-color: transparent;
          background-size: 45%;
          background-position: center;
          border-radius: 10%;
          border: 1px solid $cor6;
          height: 3rem;
          width: 4rem;
        }

        .carousel-control-prev {
          left: calc(100% - 160px);
          .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243'%3E%3Cg id='Icon_feather-arrow-right' data-name='Icon feather-arrow-right' transform='translate(1.5 2.121)'%3E%3Cpath id='Caminho_1665' data-name='Caminho 1665' d='M28.5,18H7.5' transform='translate(-7.5 -7.5)' fill='none' stroke='%232d5ad6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Caminho_1666' data-name='Caminho 1666' d='M28.5,7.5,18,18,28.5,28.5' transform='translate(-18 -7.5)' fill='none' stroke='%232d5ad6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
            @include transition(all 0.4s);
          }
        }

        .carousel-control-next {
          left: calc(100% - -120px);
          .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25.243' viewBox='0 0 24 25.243'%3E%3Cg id='Icon_feather-arrow-right' data-name='Icon feather-arrow-right' transform='translate(-6 -5.379)'%3E%3Cpath id='Caminho_1665' data-name='Caminho 1665' d='M7.5,18h21' fill='none' stroke='%232d5ad6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='Caminho_1666' data-name='Caminho 1666' d='M18,7.5,28.5,18,18,28.5' fill='none' stroke='%232d5ad6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
            @include transition(all 0.4s);
          }
        }

        &.moldura {
          margin-bottom: $espaco-margin + 30px;

          .carousel-inner {
            border: solid 5px $cor3;
            border-radius: $radius-padrao;
            margin: 0 auto;
            width: 90%;
          }

          /* INDICATORS */
          .carousel-indicators {
            background: $cor3;
            border-radius: $radius-padrao;
            padding: 8px;
            bottom: -15px;
            left: 50%;
            margin: 0;
            width: fit-content;

            @include transform(translateX(-50%));

            button {
              &.active {
                background-color: transparent;
                border: solid 2px $cor1;
              }
            }
          }

          /* CONTADOR */
          .carousel-counter {
            background: $cor3;
            border-radius: $radius-padrao;
            bottom: -7px;
            color: $cor1;
            padding: 4px;
            right: 8%;
            z-index: 1;
          }

          /* CONTROLS */
          .carousel-control-prev,
          .carousel-control-next {
            width: 10%;
          }
        }

        &.animado {
          .carousel-inner {
            // background: rgba($cor1, 0.85);
            background: transparent;

            .carousel-item {
              position: relative;
              display: none;
              align-items: center;
              width: 100%;
              height: 100%;
              padding: 0;

              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -webkit-perspective: 1000px;
              perspective: 1000px;
              @include transition(all 0.6s ease);
              z-index: 0;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90%;
                background: rgba($cor1, 0.85);
                z-index: -1;
                @include transition(all 0.2s ease);
              }

              &.active {
                display: flex;
                opacity: 1;

                &::before {
                  height: 100%;
                }
                @include transform(translateX(0) translate3d(0, 0, 0));

                &.carousel-item-start,
                &.carousel-item-end {
                  @include transform(translateX(0));
                  opacity: 0;
                }
              }

              .mask {
                display: flex;
                position: relative;
                margin: 0 auto;
                height: 100%;
                width: 100%;
                .title {
                  color: $cor5;
                  letter-spacing: 0.5px;
                  margin: 0 0 $espaco-margin;

                  -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
                }
                //@include animation(slideInDown 1.2s ease forwards);}
                .textBlock {
                  color: $cor5;
                  margin: 0 0 $espaco-margin;
                  padding: 0;

                  -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
                  //@include animation(slideInLeft 1.2s ease forwards);}
                }

                a {
                  background: $cor3;
                  color: #fff;
                  display: inline-block;
                  padding: 8px 25px;
                  text-decoration: none;

                  -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
                  //@include animation(slideInUp 1.2s ease forwards);
                  @include transition(all 0.6s);

                  &:hover {
                    background: darken($cor3, 10);
                    text-decoration: none;
                  }
                }

                img {
                  display: block;
                  height: auto;
                  max-width: 100%;

                  -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
                  //@include animation(slideInRight 1.2s ease forwards);
                }
              }
            }

            .carousel-item-prev {
              display: flex;
              @include transform(translate3d(0, 0, 0));

              &.carousel-item-end {
                opacity: 1;
              }
            }
            .carousel-item-next {
              display: flex;
              @include transform(translate3d(0, 0, 0));

              &.carousel-item-start {
                opacity: 1;
              }
            }

            @supports (transform-style: preserve-3d) {
              .carousel-item-left.active,
              .carousel-item-next,
              .carousel-item-prev,
              .carousel-item-prev.active {
                @include transform(translate3d(0, 0, 0));
              }
            }
          }

          .carousel-control-prev {
            .carousel-control-prev-icon {
              background-color: $cor3;
            }
          }

          .carousel-control-next {
            .carousel-control-next-icon {
              background-color: $cor3;
            }
          }
        }

        @media #{$bp-tablet} {
          .carousel-inner {
            .carousel-item {
              .carousel-caption {
                justify-content: center;
              }
              p {
                &:last-child {
                  margin-bottom: 50px;
                }
              }
            }
          }
          /* INDICATORS */
          .carousel-indicators {
            bottom: 10px;
            left: 50%;
            @include transform(translateX(-50%));

            button {
              margin: 0 3px;

              &.active {
                width: 14px;
                height: 14px;
              }
            }
          }

          /* CONTADOR */
          .carousel-counter {
            color: $cor-texto;
            bottom: 5px;
            width: 30%;
          }

          /* CONTROLS */
          .carousel-control-prev,
          .carousel-control-next {
            width: 8%;
            bottom: 14px;

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              height: 2.5em;
              width: 3em;
            }
          }

          .carousel-control-prev {
            left: 24%;
          }

          .carousel-control-next {
            left: initial;
            right: 24%;
          }

          // INNER
          .carousel-inner {
            .carousel-item {
              .carousel-caption {
                .flexImgWithText {
                  .p-carousel-full-vertical {
                    padding: 0 3.8rem;
                  }
                }
              }
            }
          }

          &.moldura {
            /* INDICATORS */
            .carousel-indicators {
              left: 8%;
              min-width: 20%;

              @include transform(none);

              button {
                &.active {
                  border: solid 1px $cor1;
                }
              }
            }
          }
        }

        @media only screen and (max-width: 768px) {
          // INNER
          .carousel-inner {
            .carousel-item {
              .carousel-caption {
              }
            }
          }
        }

        @media #{$bp-phone} {
          /* INDICATORS */
          .carousel-indicators {
            button {
              // height: 12px;
              // width: 12px;
            }
          }

          /* CONTROLS */
          .carousel-control-prev,
          .carousel-control-next {
            width: 13%;

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
              height: 2.5em;
              width: 4em;
            }
          }

          .carousel-control-prev {
            left: 6%;
          }

          .carousel-control-next {
            right: 6%;
          }

          // INNER
          .carousel-inner {
            .carousel-item {
              .carousel-caption {
              }
            }
          }

          &.moldura {
            .carousel-indicators {
              min-width: 30%;
            }
          }
        }
      }
    }
  }
}
