// BOOTSTRAP POINTS
$bp-xxlDesktop: "only screen and (min-width: 1401px)";
$bp-xlDesktop: "only screen and (max-width: 1400px)";
$bp-desktop: "only screen and (max-width: 1200px)";
$bp-tablet: "only screen and (max-width: 992px)";
$bp-phone: "only screen and (max-width: 576px)";

// CONFIGS

$altura-header: 85px;
$espaco-margin: 20px;
$radius-padrao: 12px;
$alt-top: $altura-header + 20;

// CORES
$cor-texto: #262525;
$cor-pagina: #fff;

$cor1: #00569e;
$cor2: #92389b;
$cor3: #ffbb3c;
$cor4: #fff;
$cor5: #f1f2f6;
$cor6: #2955d9;

$colorQuiz: darken(
  $color: $cor3,
  $amount: 15,
);
$colorQuiz2: lighten(
  $color: $cor1,
  $amount: 10,
);

$svg1: str_slice(#{$cor1}, 2, 7);
$svg2: str_slice(#{$cor2}, 2, 7);
$svg3: str_slice(#{$cor3}, 2, 7);
$svg4: str_slice(#{$cor4}, 2, 7);
$svg5: str_slice(#{$cor5}, 2, 7);

// FONTES
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Asap:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Saira+Semi+Condensed:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

$fonte1: "Roboto", sans-serif; // textos
$fonte2: Verdana, sans-serif; // titulos
