@import "src/App.scss";

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    .navComponent {
      @at-root {
        nav#{&} {
          width: 100%;
          position: fixed;
          top: $altura-header;
          height: 0;
          opacity: 0;
          overflow: hidden;
          z-index: 99;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url("../../../screens/assets/images/grafismoMenu.png")
              left center no-repeat;

            z-index: 10;
          }

          @include transition(all 500ms ease-in);
          .container,
          .row,
          .col,
          .conteudoMenu {
            height: 100%;
          }
          .conteudoMenu {
            position: relative;
            padding-top: 40px;
            padding-bottom: 40px;

            &::before {
              background: $cor6;
              content: "";
              position: absolute;
              width: 100vw;
              height: 100%;
              left: 50%;
              top: 0;
              z-index: 10;

              @include transition(all 0.6s);
              @include transform(translateX(-50%));
            }

            ul {
              counter-reset: numberLi;
              list-style: none;
              margin: 0;
              padding: 0;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;

              li {
                position: relative;
                margin: 0;
                padding: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                  border-bottom: solid 2px #bde8f2;
                  content: "";
                  position: absolute;
                  width: 20%;
                  height: 100%;
                  left: 50%;
                  top: 0;
                  z-index: 13;

                  @include transition(all 0.3s ease);
                  @include transform(translateX(-50%));
                }

                &.titleMenu {
                  text-align: center;
                  text-transform: uppercase;
                  color: $cor4;
                  font-family: $fonte2;
                  font-weight: 700;
                  font-size: 3rem;
                  margin-bottom: 35px;
                  z-index: 13;
                  &::before {
                    border-bottom: solid 4px #bde8f2;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    @include transform(translateX(-50%) rotate(45deg));
                    height: 13px;
                    width: 13px;
                    background-color: #bde8f2;
                  }
                }

                &.routeItem {
                  &:hover {
                    &::before {
                      width: 5%;
                      border-bottom: solid 8px $cor3;
                      pointer-events: none;
                    }
                    a {
                      background: $cor4;
                      opacity: 0.8;
                      padding: 12px 30px;
                      color: $cor1;

                      &::after {
                        z-index: -1;
                      }
                    }
                  }

                  &.active {
                    pointer-events: none;
                    &::before {
                      width: 5%;
                      border-bottom: solid 8px $cor4;
                    }

                    a {
                      background: $cor3;
                      opacity: 1;
                      padding: 12px 30px;
                      color: $cor1;
                      &::after {
                        z-index: -1;
                      }
                    }
                  }
                  &:last-child {
                    margin-bottom: 35px;
                  }
                }

                a {
                  color: $cor4;
                  border-radius: 30px;
                  background-color: transparent;
                  display: inline-block;
                  font-family: $fonte1;
                  font-weight: 700;
                  font-size: 1.5rem;
                  text-align: center;
                  margin: 0;
                  padding: 12px 0;
                  text-decoration: none;
                  position: relative;
                  height: 100%;
                  width: auto;
                  z-index: 12;

                  @include transition(all 0.4s ease);

                  &::after {
                    background: transparent;
                    content: "";
                    position: absolute;
                    width: 100vw;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    z-index: -1;

                    @include transition(all 0.4s);
                    @include transform(translateX(-50%));
                  }
                }
              }
            }
          }

          .menuBG {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 0;
            background: rgba(#000, 0.65);
            z-index: -1;
            opacity: 0;

            @include transition(all 500ms ease-in);
          }

          // Abre e Fecha Menu
          &.menu-aberto {
            opacity: 1;
            height: 100%;
            overflow-y: visible;

            .menuBG {
              height: 100vh;
              opacity: 1;
            }

            //.conteudoMenu { height: 100vh; }
          }
          @media #{$bp-phone} {
            .conteudoMenu {
              ul {
                li {
                  &::before {
                    width: 40%;
                  }

                  &.titleMenu {
                    font-size: 2.5rem;
                    margin-bottom: 15px;

                    &::after {
                      bottom: -3px;
                      height: 10px;
                      width: 10px;
                    }
                  }

                  &.routeItem {
                    &:hover {
                      &::before {
                        width: 10%;
                      }
                      a {
                        padding: 12px 15px;
                      }
                    }

                    &.active {
                      &::before {
                        width: 15%;
                      }
                      a {
                        padding: 12px 15px;
                      }
                    }
                    &:last-child {
                      margin-bottom: 15px;
                    }
                  }
                  a {
                    border-radius: 30px;
                    font-size: 1.25rem;
                    padding: 12px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
