@import "src/styles/default/_init.scss";

.wrapper {
  position: relative;
  padding-top: $altura-header;
  // padding-bottom: $espaco-margin * 2;
  overflow-x: hidden;
  overflow: hidden;

  @media #{$bp-phone} {
    position: relative;
  }
}
