@import "src/App.scss";

.linhaOperacoes {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-f6491afd-f2aa-46ac-8242-8d5a7e480a4e' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 853.89 3426.2'%3E%3Cdefs%3E%3Cstyle%3E .uuid-e3b4587d-c3d6-4545-a729-55d42d4f0830 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-1316639c-a62c-43b2-802a-ed823352956f' data-name='Caminho 35415' class='uuid-e3b4587d-c3d6-4545-a729-55d42d4f0830' d='M13.77,195.05c61.9,24.83,102.47,50.58,100.97,84.98s-47.62,49.36-65.06,5.36,47.88-93.01,86.78-57.29,11.69,138.63,0,183.4-9.18,99.13-9.18,99.13c0,0-5.86,114.29,99.11,106.73,0,0,53-1.4,62.36-34.28s-48.59-14.24-45.04,23.92c1.97,21.09,20.74,58.14,62.15,58.02,55.81-.17,64.79-33.67,127.42-62.63,65.49-30.28,146.78-47.21,215.33-26.62,67.21,20.19,96.03,94.98,105.19,125.59,2.39,7.99,4,16.2,4.81,24.5,2.44,24.65-1.19,26.38-5.87,55.09-5.3,32.57,.44,49.66,31.09,132.19,15.12,40.55,25.89,82.6,32.12,125.43,3.76,25.98,.08,52.49-10.62,76.46-8.29,18.31-21.84,37.5-44,51.04-56.39,34.45-99.31,3.13-185.5-32.88s-128.14-20.33-151.79-6.25c-23.65,14.08-19.08,31.61-16.6,48.43,5.44,36.9-9.08,54.97-32.88,77.83-26.59,25.55-88.99,80.4-216.32,69-23.33-2.09-86.35-34.9-142.58,33.18-49.04,59.37,40.35,156.76,69.19,202.4s42.55,75.39,42.55,75.39c0,0,63.41,112.4-5.75,141.4-15.27,6.4-48.5,9.86-43.48-19.27,5.86-34.06,70.35-37.08,111.13-25.67s67.73,18.63,111.86,101.44,61.53,127.67,274.29,104.34c87.33-9.58,149.95-60.55,193.98,5.09s44.57,240.32,44.57,240.32c0,0,15.18,144.49-135.41,181s-148.57-48.82-153.89-69.96-20.98-110.64-161.9-83.11c-140.92,27.53-143.36,132.02-148.66,153.06-18.02,71.64-82.73,82.23-83.07,126.85s52.02,67.42,42.74,136.87c-5.48,41.02-20.07,81.46-31.09,107.71-13.72,32.66-16.32,69.08-6.27,103.05,6.43,21.73,17.97,43,38.4,55.41,54.39,33.04,115.26,31.05,141.77,6.47s3.27-42.79-25.4-32.32-26.47,46.69-16.72,59.76,50.82,32.44,71.73,42.12,30.71,34.78,21.16,90.42-18.84,128.97,50.89,156.61c69.73,27.64,150.37,17.08,239.44-9.02,0,0,167.57-35.11,187.78-110.4,22.12-82.38-52.76-89.32-79.89-57s-37.48,160.41,87.98,189.47'/%3E%3C/svg%3E")
      center no-repeat;
  }
  .bgWhite {
    // background-color: rgba($color: #fff, $alpha: 0.7);
  }

  @media only screen and (max-width: 768px) {
    &::before {
      display: none;
    }
    .linhaMobile1 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -20%;
        max-height: 320px;
        height: 100%;
        min-width: 100%;
        z-index: -1;
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-946bd73e-52b4-4aee-be88-7095edbf0740' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 218.16 537.72'%3E%3Cdefs%3E%3Cstyle%3E .uuid-eceae368-df21-4c64-8681-becb25ec31a4 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-ec783729-b123-40d7-a3a7-daf7275a9a24' data-name='Caminho 35013' class='uuid-eceae368-df21-4c64-8681-becb25ec31a4' d='M186.51,2.56c-25.73-5.92-79.67,8.17-100.28,41.47s-8.72,73.73-5.55,97.51,0,61.05-30.92,61.84-25.52-27.02-3.17-30.13c17.76-2.47,43.6,4.79,42.02,30.14s-59.83,60.62-75.32,87.99c-22.66,40.05-16.65,118.13,46.78,135.57s132.4,61.05,156.98,110.2'/%3E%3C/svg%3E")
          right no-repeat;
      }
    }
    .linhaMobile2 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        max-height: 320px;
        height: 100%;
        min-width: 100%;
        z-index: -1;
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-5dde00cf-6721-47df-a065-c6fae1e683c1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 171.1 429.3'%3E%3Cdefs%3E%3Cstyle%3E .uuid-b250b1da-d586-44bf-9068-e64897f15a19 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-bfa182a1-54b1-40f5-8c2b-989970bea353' data-name='Caminho 35014' class='uuid-b250b1da-d586-44bf-9068-e64897f15a19' d='M1.24,.15S14.97,110.42,90.69,102.19c0,0,24.1-1.06,28.39-25.51s-30.89-13.24-26.53,9.94c4.05,21.54,24.51,26.64,37.12,36.62,17.03,13.47,25.04,37.55,6.24,61.89s-15.1,39.67,1.72,50.37,44.25,35.74,26.41,74.52-106.5,52.87-136.52,118.76'/%3E%3C/svg%3E")
          left no-repeat;
      }
    }
    .linhaMobile3 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        max-height: 320px;
        height: 100%;
        min-width: 100%;
        z-index: -1;

        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-f076619f-c9f4-47f8-8de1-4c0b08206539' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 168.45 573.87'%3E%3Cdefs%3E%3Cstyle%3E .uuid-24a23c58-56c5-4f6b-a0ff-c9f969c899d5 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-f38c129a-0522-4c21-87bd-0b67c3bd28f5' data-name='Caminho 35416' class='uuid-24a23c58-56c5-4f6b-a0ff-c9f969c899d5' d='M167.21,.16s-15.14,119.2-59.6,153.26S16.79,226.26,5.43,265.05s1.89,52.98,21.76,74.74,22.7,36.9,24.6,61.49-13.25,62.44,37.84,92.71,59.6,49.19,70.01,79.47'/%3E%3C/svg%3E")
          right no-repeat;
      }
    }
    .linhaMobile4 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20%;
        max-height: 320px;
        height: 100%;
        min-width: 100%;
        z-index: -1;

        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-f076619f-c9f4-47f8-8de1-4c0b08206539' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 168.45 573.87'%3E%3Cdefs%3E%3Cstyle%3E .uuid-24a23c58-56c5-4f6b-a0ff-c9f969c899d5 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-f38c129a-0522-4c21-87bd-0b67c3bd28f5' data-name='Caminho 35416' class='uuid-24a23c58-56c5-4f6b-a0ff-c9f969c899d5' d='M167.21,.16s-15.14,119.2-59.6,153.26S16.79,226.26,5.43,265.05s1.89,52.98,21.76,74.74,22.7,36.9,24.6,61.49-13.25,62.44,37.84,92.71,59.6,49.19,70.01,79.47'/%3E%3C/svg%3E")
          left no-repeat;
      }
    }
  }
  @media #{$bp-phone} {
    .linhaMobile1 {
      &::before {
        content: "";

        right: -5%;
        max-height: 190px;
      }
    }
  }
}
