@import "src/App.scss";

.linhaOperacoes {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-f6491afd-f2aa-46ac-8242-8d5a7e480a4e' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 853.89 3426.2'%3E%3Cdefs%3E%3Cstyle%3E .uuid-e3b4587d-c3d6-4545-a729-55d42d4f0830 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-1316639c-a62c-43b2-802a-ed823352956f' data-name='Caminho 35415' class='uuid-e3b4587d-c3d6-4545-a729-55d42d4f0830' d='M13.77,195.05c61.9,24.83,102.47,50.58,100.97,84.98s-47.62,49.36-65.06,5.36,47.88-93.01,86.78-57.29,11.69,138.63,0,183.4-9.18,99.13-9.18,99.13c0,0-5.86,114.29,99.11,106.73,0,0,53-1.4,62.36-34.28s-48.59-14.24-45.04,23.92c1.97,21.09,20.74,58.14,62.15,58.02,55.81-.17,64.79-33.67,127.42-62.63,65.49-30.28,146.78-47.21,215.33-26.62,67.21,20.19,96.03,94.98,105.19,125.59,2.39,7.99,4,16.2,4.81,24.5,2.44,24.65-1.19,26.38-5.87,55.09-5.3,32.57,.44,49.66,31.09,132.19,15.12,40.55,25.89,82.6,32.12,125.43,3.76,25.98,.08,52.49-10.62,76.46-8.29,18.31-21.84,37.5-44,51.04-56.39,34.45-99.31,3.13-185.5-32.88s-128.14-20.33-151.79-6.25c-23.65,14.08-19.08,31.61-16.6,48.43,5.44,36.9-9.08,54.97-32.88,77.83-26.59,25.55-88.99,80.4-216.32,69-23.33-2.09-86.35-34.9-142.58,33.18-49.04,59.37,40.35,156.76,69.19,202.4s42.55,75.39,42.55,75.39c0,0,63.41,112.4-5.75,141.4-15.27,6.4-48.5,9.86-43.48-19.27,5.86-34.06,70.35-37.08,111.13-25.67s67.73,18.63,111.86,101.44,61.53,127.67,274.29,104.34c87.33-9.58,149.95-60.55,193.98,5.09s44.57,240.32,44.57,240.32c0,0,15.18,144.49-135.41,181s-148.57-48.82-153.89-69.96-20.98-110.64-161.9-83.11c-140.92,27.53-143.36,132.02-148.66,153.06-18.02,71.64-82.73,82.23-83.07,126.85s52.02,67.42,42.74,136.87c-5.48,41.02-20.07,81.46-31.09,107.71-13.72,32.66-16.32,69.08-6.27,103.05,6.43,21.73,17.97,43,38.4,55.41,54.39,33.04,115.26,31.05,141.77,6.47s3.27-42.79-25.4-32.32-26.47,46.69-16.72,59.76,50.82,32.44,71.73,42.12,30.71,34.78,21.16,90.42-18.84,128.97,50.89,156.61c69.73,27.64,150.37,17.08,239.44-9.02,0,0,167.57-35.11,187.78-110.4,22.12-82.38-52.76-89.32-79.89-57s-37.48,160.41,87.98,189.47'/%3E%3C/svg%3E")
      center no-repeat;
  }
  .bgWhite {
    // background-color: rgba($color: #fff, $alpha: 0.7);
  }

  @media only screen and (max-width: 768px) {
    &::before {
      display: none;
    }
    .linhaMobile1 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
        max-height: 320px;
        height: 100%;
        min-width: 100vw;
        z-index: -1;
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-81b5c7d3-1dc1-44ab-b5d2-5706b6b49c9e' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 218.16 537.72'%3E%3Cdefs%3E%3Cstyle%3E .uuid-6b42bf42-c389-47e0-9090-8cbc13751355 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-acb54fe9-5a98-4962-9673-c7e15296e0a4' data-name='Caminho 35013' class='uuid-6b42bf42-c389-47e0-9090-8cbc13751355' d='M223.33,11.6c-36.05-16.25-116.49-.86-137.1,32.44s-8.72,73.73-5.55,97.51,0,61.05-30.92,61.84-25.52-27.02-3.17-30.13c17.76-2.47,43.6,4.79,42.02,30.14s-59.83,60.62-75.32,87.99c-22.66,40.05-16.65,118.13,46.78,135.57s128.39,100.37,160.14,109.87'/%3E%3C/svg%3E")
          right no-repeat;
      }
    }
    .linhaMobile2 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
        max-height: 260px;
        height: 100%;
        min-width: 100vw;
        z-index: -1;
        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-05813379-3aab-485e-a230-6db28b8d75f4' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 171.1 429.3'%3E%3Cdefs%3E%3Cstyle%3E .uuid-edd26f2e-f6e1-4286-8967-48682ce8281f %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-1c65268e-1fef-4c74-a3ad-309d908c5a3a' data-name='Caminho 35014' class='uuid-edd26f2e-f6e1-4286-8967-48682ce8281f' d='M.48,425.81c42.51-12.92,145.71-77.02,163.55-115.79s-9.59-63.81-26.41-74.52-20.52-26.03-1.72-50.37,10.79-48.41-6.24-61.89c-12.61-9.98-33.07-15.07-37.12-36.62-4.36-23.18,30.82-34.39,26.53-9.94s-28.39,25.51-28.39,25.51C14.97,110.42,10.69,10.61-1.5,2.06'/%3E%3C/svg%3E")
          left no-repeat;
      }
    }
    .linhaMobile3 {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        max-height: 300px;
        height: 100%;
        min-width: 100vw;
        z-index: -1;

        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-73a2ae84-0c92-4ac1-89aa-315a55f15f84' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 168.45 573.87'%3E%3Cdefs%3E%3Cstyle%3E .uuid-c5fc2d74-adb3-4bc3-8daf-78861248548f %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-a7af6fb4-6bc9-48e4-9d37-3bdc9ab0041e' data-name='Caminho 35416' class='uuid-c5fc2d74-adb3-4bc3-8daf-78861248548f' d='M169.8,1.58c-18.14,18.09-17.73,117.78-62.19,151.84S16.79,226.26,5.43,265.05s1.89,52.98,21.76,74.74,22.7,36.9,24.6,61.49-13.25,62.44,37.84,92.71,63.18,74.17,79.85,78.45'/%3E%3C/svg%3E")
          right no-repeat;
      }
    }
    .linhaMobile4 {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translateX(-50%));
        max-height: 2700px;
        height: 100%;
        min-width: 100vw;
        z-index: -1;

        background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-fd931d59-1b21-4dd0-9663-203974194b9d' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 218.16 537.72'%3E%3Cdefs%3E%3Cstyle%3E .uuid-85fdfdf6-c735-4e8b-8d1a-e5e16a192d72 %7B fill: none; stroke: %23c13cdd; stroke-miterlimit: 10; stroke-width: 2.5px; %7D %3C/style%3E%3C/defs%3E%3Cpath id='uuid-0cbbec95-da1d-4da7-87c4-099a84095270' data-name='Caminho 35417' class='uuid-85fdfdf6-c735-4e8b-8d1a-e5e16a192d72' d='M-3.72,5.23C22-.69,111.32,10.74,131.93,44.04s8.72,73.73,5.55,97.51,0,61.05,30.92,61.84,25.52-27.02,3.17-30.13c-17.76-2.47-43.6,4.79-42.02,30.14s59.83,60.62,75.32,87.99c22.66,40.05,16.65,118.13-46.78,135.57S31.65,528.75-2.06,536.4'/%3E%3C/svg%3E")
          left no-repeat;
      }
    }
  }
  @media #{$bp-phone} {
    .linhaMobile1 {
      &::before {
        content: "";
        left: 50%;

        max-height: 220px;
      }
    }
    .linhaMobile2 {
      &::before {
        content: "";
        left: 50%;
        max-height: 190px;
      }
    }
    .linhaMobile3 {
      &::before {
        content: "";
        left: 50%;
        max-height: 200px;
      }
    }
    .linhaMobile4 {
      &::before {
        content: "";
        left: 50%;
        max-height: 200px;
      }
    }
  }
}
